* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23cddcff' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}

main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.headerTitle {
    font-family: var(--title-font);
    font-size: 5em;
    color: var(--main-color);
    padding-top: 1em;
    text-shadow: 8px 8px var(--light-color);
}

.headerTagline {
    font-family: var(--title-font);
    font-style: italic;
    font-size: xx-large;
    color: var(--light-color);
    padding-top: .5em;

    text-shadow: 3px 3px var(--dark-color);
}

.headerSection {
    display: flex;
    justify-content: center;
}

.headerText__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.headerImage__right {
    width: 190px;
}

.pokeList__article {
    box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 50px 50px 15px 50px rgba(0, 0, 0, 0);
    width: 30%;
    height: 800px;
    margin: 2em;
    border-radius: 15px;
    background-color: #ffffff;
}

.pokeList__title {
    font-family: var(--title-font);
    font-size: 3em;
    text-align: center;
    padding: .5em;
    color: var(--main-color);

    text-shadow: 4px 4px var(--light-color);
}

.searchForm {
    text-align: center;
}

.searchForm__label {
    font-family: var(--body-font);
    font-size: x-large;
    padding: .5em;
    text-transform: uppercase;
}

.searchForm__input {
    font-family: var(--body-font);
    font-size: x-large;
    padding: .5em;
    border-radius: 20px;
}

.searchForm__button {
    font-family: var(--title-font);
    font-size: x-large;
    padding: .5em;
    border-radius: 20px;
    background-color: var(--light-color);
    color: var(--main-color);
    border-color: var(--dark-color);
}


.pokemonDetail{
    box-shadow: 4px -4px 15px 0px #FF1F1F, 12px -11px 7px 0px #FF9376, 20px -5px 7px 0px #FFE264, 20px 6px 7px 0px #F6FF33, 13px 12px 17px 0px #FF9527, 2px 17px 17px 0px #FF0000, -9px 21px 18px 0px #FFF212, -9px 6px 11px 0px #FF0808, -11px -9px 11px 0px #FFFA17, -11px -9px 11px 0px #FFFA17, 5px 5px 15px 5px rgba(0,0,0,0);
    width: 30%;
    height: 500px;
    background-color: white;
}

.pokemonName{
    font-family: var(--title-font);
    font-size: 3em;
    text-align: center;
    padding: .5em;
    color: var(--main-color);

    text-shadow: 6px 6px var(--light-color);
}